body{
    background-color: #282218;
}
.hom-1{
    margin: 40px 0px 15px 0px;
}
.a{
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.btn-a, .btn-2{
    border: 1.4px solid #c68409;
    background-color: #2c261c;
    color: white;
    border-radius:5px ;
    padding: 15px;
}
.btn-2{
    margin:10px 0px 0px 180px;
}
.hom-1 img{
    width: 100%;
    height: 100%;
}
.hom-2b,.hom-4b{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin: 25px;
}

.hom-2b img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.hom-3b img , .hom-5b img , .hom-6 img{
    width: 100%;
    height: 100%;
}
.hom-4b img{
    width: 30%;
    height: 100%;
    border-radius: 20px;
}


.hom-4{
    position: relative;
}
.left {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2c261c;
    padding: 8px;
}
.right {
    position: absolute;
    right: 140px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2c261c;
    padding: 8px;
}
.arrow {
    border: solid #c68409;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 3px;
}
.right1 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.hom-4b {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 71%;
    margin: auto;
}
.hom-4b::-webkit-scrollbar {
    -webkit-appearance: none;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
     .left {
        left: 40px;
    }

    .right {
        right: 40px;
    }
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .left {
        left: 20px;
    }
    .right {
        right: 20px;
    }
}
@media all and (max-width: 410px) {
.a {
    font-size: 20px;
}
.btn-2{
    margin: 10px 0px 0px 50px;
}
}











